/*
Error: Invalid CSS after "...         width:": expected expression (e.g. 1px, bold), was "}"
        on line 306 of /home/dmytro/desktop/study/landing/sass/style.scss

301:             .section5__logo__walker{
302:                 display: flex;
303:                 align-items: center;
304:                 img{
305:                     width: 
306:                 }
307:                 p{
308:                     margin-left: 38px;
309:                 }
310:             }
311: 

Backtrace:
/home/dmytro/desktop/study/landing/sass/style.scss:306
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1207:in `expected'
/usr/lib/ruby/vendor_ruby/sass/script/lexer.rb:229:in `expected!'
/usr/lib/ruby/vendor_ruby/sass/script/parser.rb:710:in `assert_expr'
/usr/lib/ruby/vendor_ruby/sass/script/parser.rb:75:in `parse'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1063:in `sass_script'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:909:in `value!'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:778:in `block in try_declaration'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1183:in `rethrow'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:791:in `try_declaration'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:720:in `declaration_or_ruleset'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:685:in `block_child'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:674:in `block_contents'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:666:in `block'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:735:in `declaration_or_ruleset'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:685:in `block_child'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:677:in `block_contents'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:666:in `block'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:735:in `declaration_or_ruleset'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:685:in `block_child'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:677:in `block_contents'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:666:in `block'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:735:in `declaration_or_ruleset'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:685:in `block_child'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:677:in `block_contents'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:666:in `block'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:735:in `declaration_or_ruleset'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:685:in `block_child'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:677:in `block_contents'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:666:in `block'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:658:in `ruleset'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:684:in `block_child'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:677:in `block_contents'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:125:in `stylesheet'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:41:in `parse'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:406:in `_to_tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:281:in `render'
/usr/lib/ruby/vendor_ruby/compass/import-once/engine.rb:17:in `block in render'
/usr/lib/ruby/vendor_ruby/compass/import-once/engine.rb:29:in `with_import_scope'
/usr/lib/ruby/vendor_ruby/compass/import-once/engine.rb:16:in `render'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:494:in `update_stylesheet'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `each'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:473:in `on_file_changed'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:331:in `block in watch'
/usr/lib/ruby/vendor_ruby/listen/event/config.rb:23:in `call'
/usr/lib/ruby/vendor_ruby/listen/event/processor.rb:115:in `_process_changes'
/usr/lib/ruby/vendor_ruby/listen/event/processor.rb:19:in `block in loop_for'
/usr/lib/ruby/vendor_ruby/listen/event/processor.rb:15:in `loop'
/usr/lib/ruby/vendor_ruby/listen/event/processor.rb:15:in `loop_for'
/usr/lib/ruby/vendor_ruby/listen/event/loop.rb:84:in `_wait_for_changes'
/usr/lib/ruby/vendor_ruby/listen/event/loop.rb:42:in `block in setup'
/usr/lib/ruby/vendor_ruby/listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...         width:\": expected expression (e.g. 1px, bold), was \"}\"\A         on line 306 of /home/dmytro/desktop/study/landing/sass/style.scss\A \A 301:             .section5__logo__walker{\A 302:                 display: flex;\A 303:                 align-items: center;\A 304:                 img{\A 305:                     width: \A 306:                 }\A 307:                 p{\A 308:                     margin-left: 38px;\A 309:                 }\A 310:             }\A 311: "; }
