/* line 10, ../sass/style.scss */
html {
  font-size: 16px;
}

/* line 13, ../sass/style.scss */
body {
  background-color: #868e95;
}

/* line 18, ../sass/style.scss */
.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
/* line 27, ../sass/style.scss */
.container .section1 {
  background: url("../img/rectangle.jpg") center no-repeat;
  background-size: auto 100%;
  display: flex;
  flex-direction: column;
}
/* line 34, ../sass/style.scss */
.container .section1 .logo {
  margin: 2.083333% auto 2.916666% auto;
  height: 2.083333%;
}
/* line 38, ../sass/style.scss */
.container .section1 .logo img {
  display: block;
}
/* line 41, ../sass/style.scss */
.container .section1 .logo img[alt="lasoft powered"] {
  margin: 0.416666vw auto 0 auto;
}
/* line 45, ../sass/style.scss */
.container .section1 .section1__header {
  margin: 0 auto;
}
/* line 48, ../sass/style.scss */
.container .section1 .section1__header h1 {
  text-transform: uppercase;
  font-size: 5rem;
  line-height: 5rem;
  text-align: center;
  color: #fff;
  font-family: "NebasNeue";
}
/* line 57, ../sass/style.scss */
.container .section1 .section1__text {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #fff;
  margin: 0.833333% auto 1.666666% auto;
  text-align: center;
  font-family: "SourceSans-regular";
}
/* line 65, ../sass/style.scss */
.container .section1 .section1__button {
  text-align: center;
  margin: 23px auto 20% auto;
}
/* line 68, ../sass/style.scss */
.container .section1 .section1__button button {
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 4px;
  color: #fff;
  font-family: "SourceSans-semibold";
  background-color: #01ce9f;
  height: 40px;
  width: 195px;
  border: none;
}
/* line 84, ../sass/style.scss */
.container .section2 .section2__screenshot {
  text-align: center;
  margin-top: -15%;
}
/* line 88, ../sass/style.scss */
.container .section2 .section2__screenshot img {
  margin: 0 auto;
  width: 41.5%;
}
/* line 93, ../sass/style.scss */
.container .section2 .section2__inform {
  display: flex;
  align-items: center;
  margin: 7% auto 0 auto;
}
/* line 100, ../sass/style.scss */
.container .section2 .section2__inform .section2__header {
  display: block;
  margin-left: 20.41666%;
  margin-right: 8.59375%;
}
/* line 106, ../sass/style.scss */
.container .section2 .section2__inform .section2__header h3 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-family: "NebasNeue";
  display: inline-block;
}
/* line 116, ../sass/style.scss */
.container .section2 .section2__inform p {
  display: inline-block;
  margin-right: 20.41666%;
  margin-top: 0;
  font-family: "SourceSans-regular";
  font-size: 1rem;
}
/* line 129, ../sass/style.scss */
.container .section2 .section2__walkboy {
  margin-top: 8.541666%;
}
/* line 132, ../sass/style.scss */
.container .section2 .section2__walkboy img {
  width: 100%;
}
/* line 139, ../sass/style.scss */
.container .section3 .section3__header {
  text-align: center;
  margin-top: 8.333333%;
}
/* line 142, ../sass/style.scss */
.container .section3 .section3__header h3 {
  font-size: 2.25rem;
  font-family: "NebasNeue";
}
/* line 147, ../sass/style.scss */
.container .section3 .section3__function {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 4.166666% auto 8.28125% 0;
  padding: 0 20.416666%;
}
/* line 154, ../sass/style.scss */
.container .section3 .section3__function .section__function__item {
  width: 25%;
  margin: 20px 10px;
}
/* line 160, ../sass/style.scss */
.container .section3 .section3__function .section__function__item div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
/* line 166, ../sass/style.scss */
.container .section3 .section3__function .section__function__item div img {
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
}
/* line 176, ../sass/style.scss */
.container .section3 .section3__function .section__function__item p {
  text-align: center;
  font-family: "SourceSans-regular";
  font-size: 1rem;
}
/* line 183, ../sass/style.scss */
.container .section3 .section3__function .section__function__item:hover {
  background-color: #868e95;
  transition: .5s;
}
/* line 191, ../sass/style.scss */
.container .section4 {
  background-color: #273570;
}
/* line 195, ../sass/style.scss */
.container .section4 .section4__header {
  margin-top: 6.25%;
}
/* line 197, ../sass/style.scss */
.container .section4 .section4__header h3 {
  font-family: "NebasNeue";
  font-size: 2.25rem;
  line-height: 3rem;
  color: #fff;
  text-align: center;
}
/* line 206, ../sass/style.scss */
.container .section4 .section4__text {
  display: flex;
  margin: 4.166666% 5% 2.0833% 5%;
  display: flex;
  justify-content: space-between;
}
/* line 212, ../sass/style.scss */
.container .section4 .section4__text .section4__text__main {
  width: 66.197183%;
  color: #fff;
  font-family: "SourceSans-regular";
}
/* line 216, ../sass/style.scss */
.container .section4 .section4__text .section4__text__main p {
  text-align: justify;
  font-size: 1rem;
}
/* line 220, ../sass/style.scss */
.container .section4 .section4__text .section4__text__main .section4__text__user {
  display: flex;
  margin-top: 1.25vw;
}
/* line 223, ../sass/style.scss */
.container .section4 .section4__text .section4__text__main .section4__text__user img {
  margin-right: 0.833333vw;
}
/* line 226, ../sass/style.scss */
.container .section4 .section4__text .section4__text__main .section4__text__user div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* line 234, ../sass/style.scss */
.container .section4 .section4__text .section4__text__buttonl {
  width: 30%;
}
/* line 238, ../sass/style.scss */
.container .section4 .section4__text .section4__text__buttonr {
  width: 30%;
}
/* line 244, ../sass/style.scss */
.container .section4 .section4__dot {
  display: flex;
  margin: 0 44.791666%;
  margin-bottom: 11.666666%;
  justify-content: space-between;
}
/* line 250, ../sass/style.scss */
.container .section4 .section4__dot div {
  height: 0.5vw;
  width: 0.5vw;
  background-color: rgba(248, 249, 250, 0.2);
  border-radius: 100%;
  margin-right: 10%;
}
/* line 257, ../sass/style.scss */
.container .section4 .section4__dot .active {
  background-color: #fff;
}
/* line 262, ../sass/style.scss */
.container .section5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 270, ../sass/style.scss */
.container .section5 .section5__board {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #01ce9f;
  width: 59.16%;
  margin-top: -5%;
  padding: 4.166666% 0;
}
/* line 280, ../sass/style.scss */
.container .section5 .section5__board h3 {
  font-size: 2.25rem;
  line-height: 3rem;
  font-family: "NebasNeue";
  color: #fff;
  text-align: center;
  margin-left: 17%;
}
/* line 288, ../sass/style.scss */
.container .section5 .section5__board button {
  background-color: #273570;
  border-radius: 4px;
  color: #fff;
  font-family: "SourceSans-semibold";
  padding: 10px 0;
  margin-right: 17%;
  border: none;
  width: 17%;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.5rem;
}
/* line 302, ../sass/style.scss */
.container .section5 .section5__logo {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin-top: 4.114583%;
  margin-bottom: 4.166666%;
}
/* line 308, ../sass/style.scss */
.container .section5 .section5__logo .section5__logo__walker {
  display: flex;
  align-items: center;
}
/* line 311, ../sass/style.scss */
.container .section5 .section5__logo .section5__logo__walker img {
  width: auto;
}
/* line 314, ../sass/style.scss */
.container .section5 .section5__logo .section5__logo__walker p {
  margin-left: 38px;
}
/* line 319, ../sass/style.scss */
.container .section5 .section5__logo .section5__logo__lasoft {
  text-align: right;
  height: 50%;
}

@media screen and (max-width: 539px) {
  /* line 329, ../sass/style.scss */
  html {
    font-size: 10px;
  }
  /* line 334, ../sass/style.scss */
  html .container .section3__function {
    flex-direction: column;
    align-items: center;
  }
  /* line 342, ../sass/style.scss */
  html .container .section4 .section4__text .section4__text__button, html .container .section4 .section4__text .section4__text__button {
    display: none;
  }
  /* line 345, ../sass/style.scss */
  html .container .section4 .section4__text .section4__text__main {
    width: 100%;
  }
  /* line 351, ../sass/style.scss */
  html .container .section5 .section5__logo {
    flex-direction: column;
  }
  /* line 353, ../sass/style.scss */
  html .container .section5 .section5__logo .section5__logo__walker {
    flex-direction: column;
    text-align: center;
  }
  /* line 356, ../sass/style.scss */
  html .container .section5 .section5__logo .section5__logo__walker p {
    font-size: 1rem;
  }
  /* line 360, ../sass/style.scss */
  html .container .section5 .section5__logo .section5__logo__lasoft {
    text-align: center;
  }
}
@media screen and (min-width: 540px) and (max-width: 720px) {
  /* line 377, ../sass/style.scss */
  html {
    font-size: 8px;
  }
  /* line 379, ../sass/style.scss */
  html .section3__function {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 720px) and (max-width: 960px) {
  /* line 388, ../sass/style.scss */
  html {
    font-size: 10px;
  }
  /* line 392, ../sass/style.scss */
  html .section4__dot div {
    height: 2vw;
    width: 2vw;
  }
}
@media screen and (min-width: 960px) and (max-width: 1240px) {
  /* line 400, ../sass/style.scss */
  html {
    font-size: 12px;
  }
}
@media screen and (min-width: 1240px) {
  /* line 407, ../sass/style.scss */
  html {
    font-size: 14px;
  }
  /* line 411, ../sass/style.scss */
  html .container .section4 .section4__text {
    margin: 4.166666% 20.416666% 2.0833% 20.416666%;
  }
}
