$main__color:#01ce9f;
$input__color:#f1f3f5;
$label__color:#868e95;
$text__color:#222529;
$header__font:"NebasNeue";
$label__font:"SourceSans-semibold";
$link__font:"SourceSans-regular";


html{
    font-size: 16px;
}
body{
    background-color: #868e95;
    // width: 100%;

}
.container{
    width:100%;
    max-width: 1920px;
    margin:0 auto;
    background-color: #fff;
    display:flex;
    flex-direction: column;
    // box-sizing: border-box;

    .section1{
        // height:74.074074vh;
        background:url("../img/rectangle.jpg") center no-repeat;
        background-size:  auto 100%;
        display: flex;
        flex-direction: column;
        
        .logo{
            margin:2.083333% auto 2.916666% auto;
            height: 2.083333%;
            
            img{
                display: block;
            }
            img[alt="lasoft powered"]{
                margin: 0.416666vw auto 0 auto;
            }
        }
        .section1__header{
            margin:0 auto;
            // width: 31.25%;
            h1{
                text-transform: uppercase;
                font-size: 5rem;
                line-height: 5rem;
                text-align: center;
                color: #fff;
                font-family: $header__font;
            }
        }
        .section1__text{
            font-size: 1rem;
            line-height: 1.5rem;
            color:#fff;
            margin: 0.833333% auto 1.666666% auto;
            text-align: center;
            font-family: $link__font;
        }
        .section1__button{
            text-align: center;
            margin:23px auto 20% auto;
            button{
                font-size: 1rem;
                line-height: 1.5rem;
                border-radius: 4px;
                color: #fff;
                font-family: $label__font;
                background-color: $main__color;
                height:40px;
                width:195px;
                border:none;
            }
           
        }
    }
    .section2{
        
        .section2__screenshot{
            text-align: center;
            margin-top:-15%; 
           
            img{
                margin:0 auto;
                width:41.5%;
            }
        }
        .section2__inform{
            display: flex;
            align-items: center;
            margin: 7% auto 0 auto;
            // width:59.1%;
            
            
            .section2__header{
                display: block;
                margin-left: 20.41666%;
                margin-right: 8.59375%;
                // width:20%;

                h3{
                    font-size: 2.5rem;
                    line-height: 3rem;
                    font-family: $header__font;
                    // width:219px;
                    display: inline-block;
            }
            

            }
            p{
                // width: 40%;
                display: inline-block;
                margin-right: 20.41666%;
                margin-top: 0;
                font-family: $link__font;
                font-size:1rem;

                

            }
        
        }
        .section2__walkboy{
            margin-top: 8.541666%;

           img{
            width: 100%;

           }
        }
    }
    .section3{
        .section3__header{
            text-align: center;
            margin-top: 8.333333%;
            h3{
                font-size: 2.25rem;
                font-family: $header__font;
            }
        }
        .section3__function{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin:4.166666% auto 8.28125% 0;
            padding: 0 20.416666%;

            .section__function__item{
               width: 25%;
                // height: 200px;
                margin:20px 10px;
              
                
                div{
                    height: 100%;
                    width:100%;
                    display: flex;
                    align-items: center;
                    margin:0 auto;
                    img{
                        width: auto;
                        // max-height: 100%;
                        height:auto;
                        // max-width: 100%;
                       display: block;
                       margin:0 auto;
                    }
                }

                p{
                    text-align: center;
                    font-family: $link__font;
                    font-size: 1rem;
                }
               
            }
            .section__function__item:hover{
                background-color: #868e95;
                transition: .5s;
            }

        }

    }
    .section4{
        background-color: #273570;
        // height:35.833333vw;
        
        .section4__header{
            margin-top: 6.25%;
            h3{
               
                font-family: $header__font;
                font-size: 2.25rem;
                line-height: 3rem;
                color:#fff;
                text-align: center;
            }
        }
        .section4__text{
            display: flex;
            margin: 4.166666% 5% 2.0833% 5%;
            display: flex;
            justify-content: space-between;
            
                .section4__text__main{
                    width:66.197183%;
                    color:#fff;
                    font-family: $link__font;
                    p{
                        text-align: justify;
                        font-size: 1rem;
                    }
                    .section4__text__user{
                        display: flex;
                        margin-top: 1.25vw;
                        img{
                            margin-right: 0.833333vw;
                         }
                         div{
                             display: flex;
                             flex-direction: column;
                             justify-content: center;
                             
                         }
                    }
                }
                .section4__text__buttonl{
                    width:30%;

                }
                .section4__text__buttonr{
                    width:30%;

            }
            
        }
        .section4__dot{
            display: flex;
            margin:0 44.791666%;
            margin-bottom: 11.666666%;
            justify-content: space-between;

            div{
                height:0.5vw;
                width: 0.5vw;
                background-color: rgba(248, 249, 250, 0.2);
                border-radius: 100%;
                margin-right: 10%;
            }
            .active{
                background-color: #fff;
            }
        }
    }
    .section5{
        // height:303px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        

        .section5__board{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $main__color;
            width: 59.16%;
            // height:20.833333%;
            margin-top:-5%;
            padding:4.166666% 0;
            
            h3{
                font-size: 2.25rem;
                line-height: 3rem;
                font-family: $header__font;
                color:#fff;
                text-align: center;
                margin-left: 17%;
            }
            button{
                background-color:#273570;
                border-radius:4px;
                color: #fff;
                font-family: $label__font;
                padding:10px 0;
                margin-right: 17%;
                border:none;
                width: 17%;
                text-transform: uppercase;
                font-size: 1rem;
                line-height: 1.5rem;
            }
        }
        .section5__logo{
            width: 60%;
            display: flex;
            justify-content: space-between;
            margin-top: 4.114583%;
            margin-bottom: 4.166666%;
            .section5__logo__walker{
                display: flex;
                align-items: center;
                img{
                    width: auto;
                }
                p{
                    margin-left: 38px;
                }
            }

            .section5__logo__lasoft{
                text-align: right;
                height:50%;
            }
        }

    }
}

@media screen and (max-width:539px){
    html{
        font-size: 10px;
        .container{

            .section4{
                .section4__text{
                    // margin:0 auto;
                    .section4__text__button,.section4__text__button{
                        display: none;
                    }
                    .section4__text__main{
                        width:100%;
                    }
                }
            }
            .section5{
                .section5__logo{
                    flex-direction: column;
                    .section5__logo__walker{
                        flex-direction: column;
                        text-align: center;
                    }
                    .section5__logo__lasoft{
                         text-align: center;
                    }
    
                    
                }
                
            }
        }
    }
        
        
        
    
}

@media screen and (min-width:540px) and (max-width:720px){
    html{
        font-size: 8px;

       
    }
}
@media screen and (min-width:720px) and (max-width:960px){
    html{
        font-size: 10px;
        .section4__dot{
            div{
                height:2vw;
                width: 2vw;
            }
        }
    }
}
@media screen and (min-width:960px) and (max-width:1240px){
    html{
        font-size: 12px;
      
    }
}
   
@media screen and (min-width:1240px){
    html{
        font-size: 14px;
        .container{
            .section4{
                .section4__text{
                    margin: 4.166666% 20.416666% 2.0833% 20.416666%;

                    
                }
            
            }
       
        }
    
    }
}